body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(43, 59, 58);
    color: white;    
}

.index-body { /*centers text and links on index page*/
    text-align: center;
}

a {
    color: white;
}

.inline-p {
    display: inline-block;
    margin: 20px;
    width: 150px;
    border: 3px solid white;
    padding: 8px;
}

.index-image {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 8px;
}

.recipe-image {
    height: 300px;
    width: auto;
}

